# dependencies
node_modules/

# env & secrets
.env
.env.*
*.pem
*.key

# logs / dumps / local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
*.pid
*.seed
*.tgz
*.orig
.DS_Store

# build/cache
dist/
coverage/
.tmp/
.cache/
